<!--<!DOCTYPE html>
<html>
<head>
<title>Intro page</title>
</head>
<body>-->
{% extends "_base.html" %}

{% block content %}

<h1>Hello! <p>
                We would like to ask you just a few questions
        <p>
                to get to know your tastes better!
        <p></p>
        It will take less than a minute.
</h1>



<br>

<form method="POST" ACTION="/">

        <font size="10">
                <input type="submit" value="continue">
        </font>
        
        
        <br>

        {% endblock %}
        <!--</body>