{% extends "_base.html" %}

{% block content2 %}

<!--<div class="row">-->

  <!--<div class="col-md-7">-->
  <p> {{ error }} </p>
    <h2>Question 2 out of 3: Choose  <b>2 to 8</b> recipes for your ideal recipes delivery box </h2>

    <p> Please remember to press Submit</p>

    <br>
    
  
    <form method="POST" ACTION="/question2">
    <div class="row">
      {% for elem in imageDict %}
      <div class = "column">
      <figure>
      <img src={{ imageDict[elem][0] }} style="height: 150px;"><input type="checkbox" name="option2" value={{ imageDict[elem][1] }}>
      <figcaption>{{ imageDict[elem][2]}}</figcaption>
      <br>
      <br>
      </figure>
      </div>
      {% endfor %}
     </div>

     <input type="submit" value="Submit" style = "font-size:30px">
     <!--<input type="submit" value="Submit">-->

  <!--</div>-->


<br>

{% endblock %}
